<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nueva Categoría</title>
</head>
<body>
	<h1>Nueva Categoría</h1>
	<form th:action="@{/categories/save}" method="POST">
  		<label for="name">Nombre:</label><br>
  		<input type="text" id="name" name="name" value=""><br>
  		<label for="description">Descripción:</label><br>
  		<input type="text" id="description" name="description" value="">
  		<input type="submit" value="Guardar" />
	</form>

</body>
</html>